{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar, h1, button {
        font-family: "Montserrat", sans-serif
    }

    .fa-anchor, .fa-coffee {
        font-size: 200px
    }
</style>

<!-- Header -->
<header class="w3-container w3-teal w3-center" style="padding:128px 16px;" >
    <h1 class="w3-margin w3-jumbo">Informática</h1>
    <h2 class="w3-xlarge">Comisión 5.1</h2>
</header>

    <body>
        <!-- First Grid -->
        <div class="w3-row-padding w3-padding-64 w3-container">
            <div class="w3-content w3-center" >
                 <img src="{% static 'singlepageapp/pie_plot.png' %}" style="max-height:994px; max-width:1380px;">
            </div>
        </div>
    </body>

    <!-- Footer -->
    <!--
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">
        <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
    </footer>
    -->
</html>