{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<title>Encuesta</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar, h1, button {
        font-family: "Montserrat", sans-serif
    }

    .fa-anchor, .fa-coffee {
        font-size: 200px
    }
</style>

<!-- Header -->
<header class="w3-container w3-teal w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-xxxlarge">Informática</h1>
  <p class="w3-xxlarge">Comisión 5.1</p>
</header>


<body>
    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div>
                <form method="post" id="personForm" data-regions-url="{% url 'ajax_load_regions' %}"
                      data-cities-url="{% url 'ajax_load_cities' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form.visible_fields %}
                        <div class="form-group  form-row" id={{"id_row_"|add:field.html_name }}>
                            <label class="control-label col-sm-2">{{ field.label_tag }}
                                {% if field.field.required%}
                                <span class="required">(*)</span>
                                {% endif %}
                            </label>
                            <div class="col-sm-6" >
                                {% render_field field class+="form-control" style+="width:100%"%}
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="submit-row">
                        <input style="margin:0 0 0 8px;float:right" type="submit" value="Guardar" class="btn btn-primary"
                               name="_save">
                    </div>
                </form>
                        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script>
                    $("#id_country").change(function () {
                        var url = $("#personForm").attr("data-regions-url");  // get the url of the `load_cities` view
                        var countryId = $(this).val();  // get the selected country ID from the HTML input

                        $.ajax({                       // initialize an AJAX request
                            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                            data: {
                                'country': countryId       // add the country id to the GET parameters
                            },
                            success: function (data) {   // `data` is the return of the `load_cities` view function
                                $("#id_region").html(data);  // replace the contents of the city input with the data that came from the server

                            }
                        });

                    });

                    $("#id_region").change(function () {
                        var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
                        var regionId = $(this).val();  // get the selected country ID from the HTML input

                        $.ajax({                       // initialize an AJAX request
                            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                            data: {
                                'region': regionId       // add the country id to the GET parameters
                            },
                            success: function (data) {   // `data` is the return of the `load_cities` view function
                                $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
                            }
                        });

                    });
                </script>
            </div>
        </div>
    </div>
</body>

    <!-- Footer -->
    <!--
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">
        <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
    </footer>
    -->

</html>